#container{
    width:500px;
    height:500px;
    background-color: #bdc3c7;
    /* margin-top:5%;
    margin-left: 30%; */
    margin-left:30%;
    margin-top:3%;
    z-index: -1;
}
#blocker{
    width:500px;
    height:500px;
    background-color: purple;
    opacity: 0.5;
    border: 1px solid black;
    /* margin-top:5%;
    margin-left: 30%; */
    margin-left:30%;
    margin-top:5%;
    z-index: 0;
    position:relative;
    top:-562px;
    visibility: hidden;
    
}

.grid-item{
    color: #34495e;
    width: 25%;
    height:30%;
    background-color:#F9F9F9 ;
    display: inline-block;
    vertical-align: top;
    border-radius: 25px;
    margin-left: 5%;
    margin-top: 2%;
    text-align: center;
    font-size:100px;

}
#blocker-mess{
    width:20%;
    height: 10%;
    background: white;
    visibility: hidden;
    z-index: 1;
    text-align: center;
    margin:0 auto;
    position:absolute;
    bottom:40%;
    left:38%;
    font-size: 30px;
    padding:3%;


}

body{
    background-color:#2c3e50;
    overflow: hidden;
}
#status-header{
    width: 100vw;
    height: 30px;
    background: #e74c3c;
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
    color:white;
    margin-top: -1vw;
    margin-left: -1vw;
    /* padding: ; */
    padding-top: 10px;


}